@model Mandate

@{ 
    ViewData["Title"] = "Dodaj nowy mandat";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Dodaj nowy mandat</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group text-center">
                        <img id="PictureUrlPreview" />
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationNumber" class="control-label"></label>
                        <input asp-for="RegistrationNumber" class="form-control text-uppercase" />
                        <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Street" class="control-label"></label>
                        <input asp-for="Street" class="form-control" />
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" required/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label"></label>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PictureUrl" class="control-label"></label>
                        <input asp-for="PictureUrl" class="form-control" />
                        <span asp-validation-for="PictureUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Paid" class="control-label"></label>
                        <input asp-for="Paid" class="form-control" />
                        <span asp-validation-for="Paid" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Utwórz" class="btn btn-success float-right" />
                        <a class="btn btn-secondary" asp-action="Index">Powrót</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            var output = document.getElementById('PictureUrlPreview');
            output.src = $("#PictureUrl").val();
        })

        $("#PictureUrl").on("change", function () {
            var output = document.getElementById('PictureUrlPreview');
            output.src = $(this).val();
        })
    </script>
}