@model Customers
@using Projekt.Data

@{
    ViewData["Title"] = "Dodaj nowego Klienta";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Dodaj nowego Klienta</h1>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname" class="control-label"></label>
                        <input asp-for="Surname" class="form-control" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdNumber" class="control-label"></label>
                        <input asp-for="IdNumber" class="form-control" />
                        <span asp-validation-for="IdNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Date" class="control-label"></label>
                        <input asp-for="Date" class="form-control" required/>
                        <span asp-validation-for="Date" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ApplicationNumber" class="control-label"></label>
                        <input asp-for="ApplicationNumber" class="form-control" />
                        <span asp-validation-for="ApplicationNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Utwórz" class="btn btn-success float-right" />
                        <a class="btn btn-secondary" asp-action="Index">Powrót</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>